**/.vscode
.env
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.development
.env.test.production
.env.test.development.local
.env.test.production.local

build/
dist/
bin/

.DS_Store
.idea/

*.log